*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a,h1,h2,h3,h4,h5,h6,p,li,button{
    font-family: 'Montserrat';
    font-style: normal;
}

ul>li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

header{
    // margin: 10px ;
   
     width: 100%;
     position: absolute;
     top: 0;
}

.header{

    &__menu{
        
        &-span{
            display: inline-block;
            height: 20px;
            background-color: #fff;
            width: 1px;
        }
    }
    &__info{
        justify-content: space-around;
        align-items: center;
        display: flex;

        &-street,&-phone{
            margin-top: 50px;
        }
    }

    ul{
        padding: 10px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        display: flex;
        // column-gap: 20px;
        justify-content: space-around;
        margin: 20px;
        color: #fff;
        font-family: 'Monsterat';
        // border: 1px solid #fff;
    }
}


.banner{
    height: 100vh;
    background-position: center;
    background-image: url("../img/bgc.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 80px;
    .buttons{
        display: flex;
        column-gap: 30px;
        align-items: center;
        justify-content: center;

        &__btn-item{
            padding: 15px 30px 15px 30px;
            background-color: #99862A;
            border: 1px solid #99862A;
            color: #fff;
            font-size: 16px;
        }
    }

}